In [1]:
import pandas as pd

In [3]:
dict_data = {'a': 1, 'b': 2, 'c': 3}

sr =pd.Series(dict_data)

In [4]:
print(type(sr))
print()
print(sr)

<class 'pandas.core.series.Series'>

a    1
b    2
c    3
dtype: int64

In [7]:
list_data = ['2020-08-26', 3.14, 'IZ*ONE', 100, True]
sr = pd.Series(list_data)
print(sr)

0    2020-08-26
1          3.14
2        IZ*ONE
3           100
4          True
dtype: object

In [8]:
idx = sr.index
val = sr.values
print(idx)
print()
print(val)

RangeIndex(start=0, stop=5, step=1)

['2020-08-26' 3.14 'IZ*ONE' 100 True]

In [9]:
tup_data = ('태형', '2018-10-29','남', True)

sr = pd.Series(tup_data, index = ['이름', '데뷔년도', '성별', '학생여부'])
print(sr)

이름              태형
데뷔년도    2018-10-29
성별               남
학생여부          True
dtype: object

In [17]:
print(sr[0])
print(sr['이름'])

print()
print(sr[[1,2]])

print()
print(sr[['성별', '학생여부']])

print()
print(sr[1:2])

print()
print(sr['데뷔년도' : '성별'])

태형
태형

데뷔년도    2018-10-29
성별               남
dtype: object

성별         남
학생여부    True
dtype: object

데뷔년도    2018-10-29
dtype: object

데뷔년도    2018-10-29
성별               남
dtype: object

In [19]:
#Series가 여러개 모인 행렬을 Dataframe이라고 한다. 

dict_data ={'c0':[1,2,3], 'c1': [4,5,6], 'c2':[7,8,9]}
df = pd.DataFrame(dict_data)
print(df)
print(type(df))

   c0  c1  c2
0   1   4   7
1   2   5   8
2   3   6   9

In [27]:
df = pd.DataFrame([[15, '남', '덕영중'],[17, '여', '수리중']],
                 index = ['준서', '예은'],
                 columns=['나이', '성별', '학교'])
print(df)
print()
print(df.index)
print(df.columns)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

Index(['준서', '예은'], dtype='object')
Index(['나이', '성별', '학교'], dtype='object')

In [29]:
#df.index = ['학생1','학생2']
#df.columns = ['연령', '남녀', '소속']

df.rename(columns={'나이':'연령','성별': '남녀', '학교':'소속'}, inplace = True)

print(df)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [32]:
df2 = df[:].copy(deep=True)

df2.drop('학생1',inplace=True)
print(df2)

     연령 남녀   소속
학생2  17  여  수리중